#colors() {
  text: #000;
  text-faded: #555;
  text-link: #222;
  images: #000;
  image-active: #4dbda5;

  page-background: #ddd;
  item-background: #fff;
  sub-item-background: #e0fff4;

  list-background: #eee;
  list-background-alternate: #ddd;

  primary-header: #2aa5e8;
  primary-header2: #1abda2;
  secondary-header: #35b0f2;

  highlight: #58d6bb;
  borders: #777;
  buttons: #e6f6ff;
  buttons-disabled: #aeb2b5;
  button-border: #555;

  input-inactive: #aaa;
  input-active: #fff;
  input-highlight: #5cd1c7;

  dashboard-buttons: #fff;
}