<div class="menu-outer">
    <div class="menu-item" ng-click="navigate('home')" ng-class="{current: currentState == 'home'}">
        <div class="menu-item-title">Home</div>
        <div class="menu-item-icon"><img src="/Images/home.png" /></div>
    </div>

    <div class="menu-item" ng-click="navigate('shows')" ng-class="{current: currentState == 'shows'}">
        <div class="menu-item-title">Shows</div>
        <div class="menu-item-icon"><img src="/Images/show.png" /></div>
    </div>

    <div class="menu-item" ng-click="navigate('movies')" ng-class="{current: currentState == 'movies'}">
        <div class="menu-item-title">Movies</div>
        <div class="menu-item-icon"><img src="/Images/movie.png" /></div>
    </div>

    <div class="menu-item" ng-click="navigate('torrents')" ng-class="{current: currentState == 'torrents'}">
        <div class="menu-item-title">Torrents</div>
        <div class="menu-item-icon"><img src="/Images/link.png" /></div>
    </div>

    <div class="menu-item" ng-click="navigate('hd')" ng-class="{current: currentState == 'hd'}">
        <div class="menu-item-title">Hard drive</div>
        <div class="menu-item-icon"><img src="/Images/hd.png" /></div>
    </div>
    <div class="menu-item" ng-click="navigate('radio')" ng-class="{current: currentState == 'radio'}">
        <div class="menu-item-title">Radio</div>
        <div class="menu-item-icon"><img src="/Images/radio.png" /></div>
    </div>
    <div class="menu-item" ng-click="navigate('youtube')" ng-class="{current: currentState == 'youtube' || currentState == 'youtube-channel'}">
        <div class="menu-item-title">YouTube</div>
        <div class="menu-item-icon"><img src="/Images/youtube.png" /></div>
    </div>
    <div class="menu-item" ng-click="navigate('history')" ng-class="{current: currentState == 'history'}">
        <div class="menu-item-title">History</div>
        <div class="menu-item-icon"><img src="/Images/history.png" /></div>
    </div>
</div>