<div class="view-torrent sub-view">
    <view-loader promise="promise"></view-loader>

    <div class="search-bar">
        <div class="torrent-search-box">
            <textbox model="search" enter="searchTorrents" placeholder="search.."></textbox>
        </div>
        <div class="media-search-button" ng-click="searchTorrents()">
            <img src="/Images/search.png" />
        </div>
    </div>

    <div class="torrents">
        <div class="torrent" ripple ng-repeat="torrent in torrents" ng-click="watch(torrent)">
            <div class="torrent-image">
                <img ng-if="torrent.category == 'movie'" src="/Images/movie.png" />
                <img ng-if="torrent.category == 'show'" src="/Images/show.png" />
                <img ng-if="torrent.category == 'other'" src="/Images/other.png" />
            </div>
            <div class="torrent-title truncate">{{torrent.title}}</div>
            <div class="torrent-size truncate">{{torrent.size}}</div>
            <div class="torrent-seeders-leechers">
                <div class="torrent-seeders truncate">{{torrent.seeders}} <img src="/Images/seeders.png" /></div>
                <div class="torrent-leechers truncate">{{torrent.leechers}} <img src="/Images/leechers.png" /></div>
            </div>
        </div>

        <div class="no-torrents" ng-if="torrents.length == 0 && done">No torrents found</div>
    </div>
</div>