
#colors() {
  text-primary: #222;
  text-light: #fff;
  text-faded: #999;

  primary: #3d7ed3;
  secondary: #5297ff;
  secondary-highlight: #61a0ff;

  list1: #dbe9ff;
  list2: #fff;

  inputs: #fff;
  inputs2: #ccc;
  text-input: #222;

  fade1: rgba(0, 0, 0, 0);
  fade2: rgba(80, 80, 80, 0.8);

  borders: #ddd;

  background1: #eee;
  background2: #fff;

  icons: #2d9dff;
  icons-light: #FFF;

  highlight: #dbf1ff;
}