
#colors() {
  text-primary: #222;
  text-light: #fff;
  text-faded: #aaa;

  primary: #3ea337;
  secondary: #444;
  secondary-highlight: #494949;

  list1: #a0e5aa;
  list2: #fff;

  inputs: #fff;
  inputs2: #aaa;
  text-input: #222;

  fade1: rgba(0, 0, 0, 0);
  fade2: rgba(0, 0, 0, 0.8);

  borders: #c7dbca;

  background1: #dee2de;
  background2: #fff;

  icons: #137722;
  icons-light: #eee;

  highlight: #a0e5aa;
}