<div class="view-home sub-view">
    <div class="home-item home-favorites">
        <div class="home-item-bar" ng-click="expandItem($event)">
            <div class="home-item-icon"><img ng-src="/Images/fav-blue.png" /></div>
            <div class="home-item-title">Favorites</div>
            <div class="home-item-down-icon"><img ng-src="/Images/down.png" /></div>
        </div>
        <div class="home-item-content home-favorites-content">
            <div class="home-favorite-item" ng-repeat="favorite in favorites | filter: {type: 'Show'}" ng-click="goToShow(favorite.id)">
                <div class="home-favorite-img"><img ng-src="{{favorite.image}}" /></div>
                <div class="home-favorite-title truncate">{{favorite.title}}</div>
            </div>
        </div>
    </div>

    <div class="home-item  home-watched">
        <div class="home-item-bar " ng-click="expandItem($event)">
            <div class="home-item-icon"><img ng-src="/Images/watched-blue.png" /></div>
            <div class="home-item-title">Recently watched</div>
            <div class="home-item-down-icon"><img ng-src="/Images/down.png" /></div>
        </div>
        <div class="home-item-content">
            <div class="home-watched-item" ng-repeat="file in history | filter: {Type: 'File'} | orderBy: '-WatchedAt'" ng-click="goToFile(file.url)">
                <div class="home-watched-img"><img ng-src="/Images/unknown.png" /></div>
                <div class="home-watched-title truncate">{{getFileName(file.URL)}}</div>
                <div class="home-watched-time">{{timeToTimespan(file.WatchedAt)}}</div>
            </div>
        </div>
    </div>

    <div class="home-item  home-unfinished">
        <div class="home-item-bar" ng-click="expandItem($event)">
            <div class="home-item-icon"><img ng-src="/Images/continue.png" /></div>
            <div class="home-item-title">Continue with</div>
            <div class="home-item-down-icon"><img ng-src="/Images/down.png" /></div>
        </div>
        <div class="home-item-content">
            <div class="home-unfinished-item" ng-repeat="uf in unfinished" ng-click="continue_torrent(uf)">
                <div class="home-unfinished-img" ng-if="uf.image"><img ng-src="{{uf.image}}" /></div>
                <div class="home-unfinished-no-img" ng-if="!uf.image"><img ng-src="/Images/unknown.png" /></div>
                <div class="home-unfinished-title truncate" ng-if="uf.mediaFile">{{uf.name}}</div>
                <div class="home-unfinished-line"><unfinished-line percentage="uf.position / uf.length"></unfinished-line></div>
                <div class="home-watched-time">{{timeToTimespan(uf.watchedAt)}}</div>
            </div>
        </div>
    </div>

    <div class="home-item home-youtube">
        <div class="home-item-bar" ng-click="expandItem($event)">
            <div class="home-item-icon"><img ng-src="/Images/youtube.png" /></div>
            <div class="home-item-title">Youtube favorites</div>
            <div class="home-item-down-icon"><img ng-src="/Images/down.png" /></div>
        </div>
        <div class="home-item-content">
            <div class="home-item-content home-favorites-content">
                <div class="home-favorite-item" ng-repeat="favorite in favorites | filter: {type: 'YouTube'}" ng-click="goToYouTube(favorite.id)">
                    <div class="home-favorite-img"><img ng-src="{{favorite.image}}" /></div>
                    <div class="home-favorite-title truncate">{{favorite.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>