<div class="view-home sub-view">
    <div class="home-widget list-holder favorites-list" ng-class="{'top-list': unfinished.length == 0}">
        <div class="list-title">favorites</div>
        <div class="home-list-loader"><img src='/Images/loader.gif' /></div>

        <div class="list-item-wrapper favorites" fade vert fade-offset-left="10" fade-offset-right="8" fade-offset-top="36">
            <div class="list-item" ng-repeat="fav in favorites" ng-click="goToShow(fav._id)" ng-if="favorites.length > 0">
                <div class="list-image">
                    <protected-img imgclass="list-image-img" src="fav.images.poster"></protected-img>
                </div>
                <div class="list-watched-at truncate" ng-if="fav.toWatch > 0">
                    <div class="list-last-updated">
                        {{ fav.toWatch }} to watch
                        </div>
                </div>
                <div class="list-show-info">
                    <div class="list-info-title truncate"></div>
                    <div class="list-info-subtitle truncate">{{fav.title}}</div>
                </div>
            </div>
        </div>
        <div ng-if="favorites.length == 0" class="list-no-items">
            No favorites
        </div>
    </div>

    <div class="home-widget home-list unfinished-list" ng-show="unfinished.length > 0">
        <div class="home-list-title">continue watching</div>
        <div class="home-list-items unfinished-items" fade fade-offset-top="35" fade-offset-bottom="12">
            <div class="home-list-loader"><img src='/Images/loader.gif' /></div>
            <div class="home-list-item" ng-class="{'small-item': !uf.image}" ng-repeat="uf in unfinished" ng-click="continue_torrent(uf)">
                <div class="home-list-item-content" swipe on-swipe="remove_unfinished" swipe-item="uf" swipe-remove-element="home-list-item">
                    <div class="home-list-item-image">
                        <protected-img ng-if="uf.image" imgclass="home-list-item-img" src="uf.image"></protected-img>
                        <img ng-if="!uf.image" ng-src="/Images/unknown.png" class="home-list-item-img" />
                    </div>
                    <div class="home-list-item-details">
                        <div class="home-list-item-title multiline-truncate2">{{uf.name}}</div>
                        <div class="unfinished-list-ago">{{timeToTimespan(uf.watchedAt)}}</div>
                        <unfinished-line percentage="uf.position / uf.length"></unfinished-line>
                        <div class="unfinished-list-times">
                            <div class="unfinished-list-times-position" style="width:{{(uf.position / uf.length) * 100}}%;">{{uf.position | secondsToTimespan}}</div>
                            <div class="unfinished-list-times-length">{{uf.length | secondsToTimespan}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home-widget list-holder recent-files-list">
         <div class="home-list-title">recently watched</div>
        <div class="home-list-items unfinished-items" fade fade-offset-top="37" fade-offset-bottom="9">
            <div class="home-list-loader"><img src='/Images/loader.gif' /></div>
            <div class="home-list-item" ng-repeat="file in lastWatchedFiles | limitTo: 5 | orderBy: 'watchedAt':true track by $index" ng-click="goToFile(file.url)">
                <div class="home-list-item-content">
                    <div class="home-list-item-image">
                        <img  ng-src="/Images/unknown.png" class="home-list-item-img" />
                    </div>
                    <div class="home-list-item-details">
                        <div class="home-list-item-title multiline-truncate2">{{getFileName(file.url)}}</div>
                        <div class="unfinished-list-ago">{{timeToTimespan(file.watchedAt)}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>