<div class="view-youtube sub-view">
    <view-loader promise="promise"></view-loader>

    <div class="youtube-details-img"><img ng-src="{{channelInfo.thumbnail}}" /></div>
    <div class="youtube-details-info">
        <div class="youtube-details-title">{{channelInfo.title}}</div>
        <div class="youtube-details-published row">
            <div class="col-xs-6">Published:</div>
            <div class="col-xs-6 row-value">{{channelInfo.published | date:'dd-MM-yyyy'}}</div>
        </div>
        <div class="youtube-details-subs row">
            <div class="col-xs-6">Subscriptions:</div>
            <div class="col-xs-6 row-value">{{parseNumber(channelInfo.subs)}}</div>
        </div>
        <div class="youtube-details-video-count row">
            <div class="col-xs-6">Video count:</div>
            <div class="col-xs-6 row-value">{{parseNumber(channelInfo.video_count)}}</div>
        </div>
        <div class="youtube-details-views row">
            <div class="col-xs-6">Total views:</div>
            <div class="col-xs-6 row-value">{{parseNumber(channelInfo.views)}}</div>
        </div>
        <div class="youtube-details-description multiline-truncate" ng-click="showDescription($event)">{{channelInfo.description}}</div>

        <div class="youtube-details-videos">
            <div class="youtube-video" ng-click="watchVideo(item)" ng-if="item.type == 'video'" ng-repeat="item in channelInfo.videos">
                <div class="youtube-video-thumbnail"><img class="youtube-video-thumbnail-img" ng-src="{{item.thumbnail}}" imageonload/></div>
                <div class="youtube-video-upload" ng-if="item.uploaded">{{timeToTimespan(item.uploaded)}}</div>

                <div class="youtube-video-details">
                    <div class="youtube-video-channel truncate">{{item.channel_title}}</div>
                    <div class="youtube-video-title multiline-truncate2">{{item.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>