.view-media-list{
    margin-top: 40px;
}

.media-box{
    position: relative;
    background: #fff;
    width: calc(50% - 8px);
    min-height: 100px;
    display: inline-block;
    vertical-align: top;
    margin: 4px;
    cursor: pointer;
}

@media only screen and (min-device-width: 768px){
    .media-box{
        width: calc(25% - 8px);
    }
}

.media-search-box{
    height: calc(100% - 12px);
    margin: 6px 15px;
    width: calc(100% - 100px);
}

@media only screen and (min-device-width: 1024px){
    .media-search-box{
        margin: 6px 0px;
        width: calc(100% - 70px);
    }
}

.media-search-button{
    position:absolute;
    right: 15px;
    top: 8px;
    cursor: pointer;
}

@media only screen and (min-device-width: 1024px){
    .media-search-button{
        right:0;
    }
}

.media-search-button img{
    width: 24px;
    height: 24px;
}

.no-media{
    padding: 15px;
    margin: 4px;
    background: #fff;
}

.orderby-dropdown{
    position:absolute;
    right: 50px;
    top: 6px;
    bottom: 6px;
    width: 30px;
    cursor: pointer;
}

@media only screen and (min-device-width: 1024px){
    .orderby-dropdown{
        right:35px;
    }
}

.drop-arrow-down{
    position: absolute;
    left: 9px;
    top: 4px;
    pointer-events: none;
}

.drop-arrow-down img{
    width: 16px;
    height: 16px;
}

.media-more{
    width: calc(100% - 8px);
    margin: 8px 4px 40px 4px;
    background: #fff;
    padding: 10px;
    position: relative;
    height: 40px;
    text-align: center;
    display: none;
}

.media-more img{
    position: absolute;
    left: 50%;
    top: 8px;
    margin-left: 80px;

    width: 24px;
    height: 24px;
}

.media-more-loader{
    width: calc(100% - 8px);
    margin: 8px 4px 40px 4px;
    background: #fff;
    padding: 10px;
    position: relative;
    height: 40px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    display: none;
}

.media-more-loader img{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    top: 7px;

    width: 24px;
    height: 24px;
}