.view-youtube{
    background: white;
}

.youtube-videos{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px, 1fr));
}

.youtube-video{
    position: relative;
    background: #fff;
    min-height: 100px;
}

.youtube-video-thumbnail{
    width: 100%;
}

.youtube-video-thumbnail-img{
    width: 100%;
    height: 100%;
}

.youtube-video-details,.youtube-channel-details{
    padding: 6px;
    position: relative;
}

.youtube-channel{
    position:relative;
}

.youtube-channel:last-child{
    margin-top: 0;
}

.youtube-channel-thumbnail{
    width: 100%;
}

.youtube-channel-title{
    font-size: 16px;
}

.youtube-channel-description{
    margin-top: 4px;
    font-size: 11px;
}

.youtube-channel-thumbnail-img{
    width: 100%;
    height: 100%;
}

.youtube-channel-details{
    margin-top:4px;
}

.youtube-video-upload{
    font-size: 11px;
    position:absolute;
    right: 4px;
    top: 4px;
    background: rgba(0, 0, 0, 0.6);
    color: #eee;
    padding: 2px 8px;
}

.youtube-video-channel{
    font-size: 11px;
    color: #666;
    position:absolute;
    left: 6px;
    right: 6px;
    top: 5px;
}

.youtube-video-title{
    margin-top: 14px;
}

.youtube-details-title{
    font-weight: bold;
    font-size: 18px;
}

.youtube-details-info{
    padding: 10px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.youtube-details-img{
    display: inline-block;
    vertical-align: top;
}

.youtube-details-img, .youtube-details-img img{
    width: 100%;
}

.youtube-details-info .row{
    margin-top: 4px;
}

.youtube-details-info .row-value{
    text-align: right;
}

.youtube-details-description{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    overflow:hidden;
}

.youtube-details-videos{
    padding: 10px;
}

.youtube-details-videos .youtube-video{
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.youtube-details-videos .youtube-video-upload{
    top: 14px;
}

.youtube-favorite{
    position: absolute;
    right: 23px;
    top: 23px;
    background: rgba(255,255,255, 0.8);
    padding:4px;
}

.youtube-favorite img{
    width: 22px;
    height: 242x;
}


@media only screen and (min-device-width: 768px){
    .youtube-details-videos{
        border-top: 1px solid #eee;
        padding-top: 5px;
        margin-top: 5px;
    }

    .youtube-details-videos .youtube-video{
        padding: 4px;
        border-top: none;
        display: inline-block;
        width: calc(25% - 2px);
        vertical-align: top;
    }

    .youtube-details-img{
        width: calc(25% - 8px);
    }

     .youtube-details-info{
        width: calc(75% - 8px);
    }
}
