.view-youtube{
    height: calc(100% - 25px);
    overflow-y: auto;
    overflow-x: hidden;
}

.youtube-menu{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: stretch;
}

.youtube-menu-item{
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid #eee;
    border-top: 2px solid #ccc;
}

.youtube-menu-item:last-child{
    border-right: none;
}

.youtube-menu-item img{
    height: 26px;
    width: 26px;
    margin-top: 7px;
    text-align: center;
}

.youtube-menu-item-active{
    background: #f1f1f1;
}

.youtube-videos{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px, 1fr));
}

.youtube-video{
    min-width: 270px;
    position: relative;
    background: #fff;
    min-height: 100px;
    margin: 8px;
}

.youtube-video-thumbnail{
    width: 100%;
}

.youtube-video-thumbnail-img{
    width: 100%;
    height: 100%;
}

.youtube-video-details{
    padding: 6px;
    position: relative;
}

.youtube-channels{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px, 1fr));
}

.youtube-channel{
    background: #fff;
    min-width: 270px;
    position:relative;
    height: 90px;
    margin: 8px;
}

.youtube-channel:last-child{
    margin-top: 0;
}

.youtube-channel-thumbnail{
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    width: 70px;
}

.youtube-channel-title{
    font-size: 16px;
}

.youtube-channel-description{
    margin-top: 12px;
    font-size: 12px;
}

.youtube-channel-thumbnail-img{
    width: 100%;
    height: 100%;
}

.youtube-channel-details{
    position:absolute;
    top:10px;
    right:10px;
    bottom: 10px;
    left: 90px;
}

.youtube-video-upload{
    font-size: 12px;
    color: #666;
}

.youtube-video-channel{
    font-size: 12px;
    color: #666;
    position:absolute;
    right: 4px;
    top: 5px;
}

.youtube-video-title{
    margin-top: 4px;
}

.youtube-search{
    border-top: 2px solid #ccc;
    position:absolute;
    top: -39px;
    height: 40px;
    left:0;
    right:0;
    background:white;
}

.youtube-search-box{
    margin: 10px;
    width: calc(100% - 30px);
}

.youtube-channel-new{
    width: 20px;
    height: 20px;
    border-radius:15px;
    background: #0071bc;
    color: white;
    padding-top: 1px;
    text-align: center;
    position:absolute;
    left:65px;
    top: 65px;
}

.youtube-sub-title{
    font-size: 16px;
    margin: 8px 8px 2px 8px;
    padding: 6px;
    font-weight: bold;
    background: white;
}

.youtube-no-videos{
    padding: 10px;
    margin: 8px;
    background: white;
}

.youtube-items{
    margin: -8px;
}