<div class="view-youtube sub-view">
    <view-loader promise="promise"></view-loader>

    <div class="youtube-video youtube-first-video no-videos" ng-if="shows.length == 0 && done">
        No videos found :(
    </div>

    <div class="search-bar">
        <div class="youtube-search-box">
            <textbox model="search.keywords" enter="searchVideos" placeholder="search.."></textbox>
        </div>
        <div class="youtube-search-button" ng-click="searchVideos()">
            <img src="/Images/search.png" />
        </div>
    </div>

    <div class="youtube-video" ng-class="{'youtube-first-video': $index==0}" ng-repeat="video in videos[serverPage]| orderBy: orderByDate:true | startFrom:(localPage - (serverPage * 5))*10 | limitTo:10" ng-click="watchVideo(video)">
        <div class="youtube-image">
            <img ng-src="{{video.thumbnail}}" class="youtube-image-thumbnail" imageonload/>
            <div class="youtube-video-length-background">
                {{ parseYoutubeLength(video.length) }}
            </div>
            <div class="youtube-video-length">
                {{ parseYoutubeLength(video.length) }}
            </div>
        </div>
        <div class="youtube-info">
            <div class="youtube-title multiline-truncate2">{{video.title}}</div>
            <div class="youtube-sub-title">
                <div class="youtube-channel truncate">{{video.channel_title}}</div>
                <div class="youtube-uploaded">{{timeToTimespan(video.uploaded)}}</div>
            </div>
        </div>
    </div>

    <div class="pager-wrap" ng-if="videos[serverPage].length > 0">
        <div class="pager-back" ng-click="prevPage();" ng-if="localPage > 0">
            <img src="Images/left.png" />
        </div>
        <div class="pager-info">Page {{localPage + 1}}</div>
        <div class="pager-next" ng-click="nextPage();" ng-if="videos[serverPage].length - (localPage - (serverPage * 5))*10 > 10">
            <img src="Images/right.png" />
        </div>
    </div>
</div>