<div class="view-youtube sub-view">
    <view-loader promise="promise"></view-loader>

    <div class="youtube-video youtube-first-video no-videos" ng-if="shows.length == 0 && done">
        No videos found :(
    </div>

    <div class="youtube-items">
        <div class="youtube-channels">
            <div class="youtube-channel" ng-repeat="channel in channels | orderBy: 'new':true" ng-click="openChannel(channel)">
                <div class="youtube-channel-thumbnail"><img class="youtube-channel-thumbnail-img" ng-src="{{channel.thumbnail}}" imageonload/></div>
                <div class="youtube-channel-details">
                    <div class="youtube-channel-title truncate">{{channel.title}}</div>
                    <div class="youtube-channel-description multiline-truncate">{{channel.description}}</div>
                </div>
                <div class="youtube-channel-new">
                    {{channel.new}}
                </div>
            </div>
        </div>

        <div class="youtube-videos">
            <div class="youtube-video" ng-repeat="video in videos |orderBy: orderByDate:true" ng-click="watchVideo(video)">
                <div class="youtube-video-thumbnail"><img class="youtube-video-thumbnail-img" ng-src="{{video.thumbnail}}" imageonload/></div>
                <div class="youtube-video-details">
                    <div class="youtube-video-upload">{{timeToTimespan(video.uploaded)}}</div>
                    <div class="youtube-video-channel">{{video.channel_title}}</div>
                    <div class="youtube-video-title">{{video.title}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="youtube-menu">
        <div class="youtube-menu-item" ng-class="{'youtube-menu-item-active': active=='home'}" ng-click="goHome()">
            <img src="/Images/home.png" />
        </div>
        <div class="youtube-menu-item" ng-class="{'youtube-menu-item-active': active=='channels'}" ng-click="goChannels()">
            <img src="/Images/subs.png" />
        </div>
        <div class="youtube-menu-item" ng-class="{'youtube-menu-item-active': active=='search'}" ng-click="goSearch()">
            <img src="/Images/search2.png" />
        </div>

        <div class="youtube-search" ng-show="active=='search'">
            <div class="youtube-search-box">
                <textbox model="search.keywords" enter="search" placeholder="search.."></textbox>
            </div>
        </div>
    </div>
</div>