html{
    height: 100%;
    width: 100%;
}

body{
    height: auto;
    width: auto;
    overflow:hidden;
    background: #eee;
    font-size: 14px;
    color: #222;
}


@media only screen and (min-device-width: 768px){
    body{
        font-size: 16px;
    }
}

.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-wrapper{
    height: 100%;
    width: 100%;
    background: #eee;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    color: #444;
    overflow:hidden;

}

@media only screen and (min-device-width: 1024px){
    .view{
        width: 1024px;
        position:absolute;
        left: 50%;
        margin-left: -512px;
    }
}

page-loader{
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.4;
    background: #222;
}

page-loader img{
    width: 64px;
    height: 64px;
    position:absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
}

.view-loader{
    z-index:10;
    position:absolute;
    top: 0px;
    bottom: 0px;
    right: 0;
    left: 0px;
    opacity: 0.4;
    min-height:70px;
    background: #222;
}

view-loader img{
    width: 64px;
    height: 64px;
    position:absolute;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
}

.protected-img-holder{
    width: 100%;
    height: 100%;
    position: relative;
}

/* Header */
.header{
    background: #3d7ed3;
    /*background: #42c2f4;*/
    height: 50px;
    position:fixed;
    top: 0;
    right:0;
    left: 0;
    border-bottom: 1px solid #ddd;
    z-index: 3;
}

@media only screen and (min-device-width: 1024px){
    .header{
        width: 1024px;
        margin-left: -512px;
        left: 50%;
    }
}

.header-title{
    text-align: center;
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #eee;
    transition: margin 0.2s;
}

.header-back{
    overflow: hidden;
    color: #222;
    background:#fff;
    border-bottom: 1px solid #3d7ed3;
    height: 0;
    position:absolute;
    padding-top: 2px;
    padding-left: 4px;
    left: 0;
    right: 0;
    display:none;
    top:50px;
    z-index: 1;
}

.header-back.open{
    height: 24px;
    border-bottom: 1px solid #3d7ed3;
    display:block;
}

@media only screen and (min-device-width: 768px){
    .header-back{
        padding-top: 0;
    }
}

.view{
    height: calc(100% - 78px);
    margin-top: 50px;

    padding: 15px;
    position:relative;
    background: #EEE;

    transition: height 0.5s ease;
    overflow: auto;
    touch-action: pan-y !important;
}


@media only screen and (min-device-width: 1024px){
    .view{
        padding-left:0;
        padding-right: 0;
    }
}

.sub-view{
    touch-action: pan-y !important;
}

.view.player-visible{
    height: calc(100% - 176px);
}

.view.player-closed-back-visible{
    height: calc(100% - 100px);
    margin-top: 74px;
}

.view.player-closed{
    height: calc(100% - 78px);
}

.view.player-visible-back-visible{
    height: calc(100% - 200px);
    margin-top: 74px;
}

.textbox{
    position:relative;
    height:100%;
    width: 100%;
}

.textbox input
{
    border: 1px solid #777;
    border-radius: 1px;
    outline: none;
    background: #fff;
    font-size: 16px;
    color: #222;
    padding-left: 10px;
    line-height: 100%;
    width: 100%;
    height: 100%;
}

basic-button{
    position: relative;
}

.button{
    background: #3d7ed3;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    display:inline-block;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    padding: 0 8px ;
}

.dropdown-select{
    border: 1px solid #777;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    font-size: 16px;
    color: #222;
    background: #fff;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dropdown{
    height: 100%;
}

.progress-background-div{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    background: #000;
    opacity: 0.3;
    transition: width 1s linear;
}

protected-img{
    width: 100%;
    height: 100%;
}

.image-loading{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100%;
    background: black;
    opacity: 0.5
}

.image-loading img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

.link{
    text-decoration: underline;
}

.multiline-truncate2{
    display: -webkit-box;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.multiline-truncate{
    display: -webkit-box;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


input[type="range"]{
    -webkit-appearance: none;
     width: 100% !important;
    position:relative;
    z-index: 2;
    height: 14px;
    background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #0071bc;
    border: 1px solid #888;
    width: 20px;
    height: 20px;
    margin-top: -1px;
    border-radius: 20px;
}

.debug-wrapper{
    background: #fff;
    padding: 0 10px 5px 10px;
}

.debug-row{
    margin-top: 10px;
    margin-bottom: 10px;
}

.debug-title{
    font-weight: bold;
    margin: 5px 0 0 0;
}

.debug-error-msg{
    border-top: 1px solid #ddd;
    margin-top: 5px;
    padding-top: 5px;
}

.debug-con{
    padding-left: 25px !important;
}

.debug-tab-select{
    padding-top: 15px;
}

.debug-tab-item{
    text-align: center;
}

.debug-tab-item-inner{
    border: 1px solid black;
}

.align-right{
    text-align: right;
}

.error-wrapper{
    max-height: 200px;
    overflow: auto;
    position: relative;
}

.first-debug-error{
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

.warning-system{
    color: #e29e2f;
}

.ok-system{
    color: #7fe53b
}

.search-bar{
    position:fixed;
    top:50px;
    left: 0;
    right:0;
    height: 40px;
    z-index: 1;
    background: #eee;
    border-bottom: 1px solid #3d7ed3;
}

@media only screen and (min-device-width: 1024px){
    .search-bar{
        width: 1024px;
        left: calc(50% - 512px);
        right: calc(50% - 512px);
    }
}

.pager-wrap{
    background: #fff;
    position: relative;
    margin-top: 10px;
    height: 36px;
}

.pager-back{
    display: inline-block;
}

.pager-info{
    position:absolute;
    top:0;
    left: calc(50% - 25px);
    width: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
}

.pager-next{
    position:absolute;
    right: 0;
    top:0;
}

.pager-back img{
    margin-top: 6px;
    margin-left: 4px;
    width: 24px;
    height: 24px;
}

.pager-next img{
    width: 24px;
    margin-right: 4px;
    margin-top: 6px;
    height: 24px;
}

.version-holder{
    padding-top: 5px;
    background: white;
}

.version-build{
    position:relative;
}

.build-date{
    position:absolute;
    right:0;
    top: 0;
}

.slider{
    position: relative;
}

.slider-tooltip{
    position: absolute;
    height: 30px;
    margin-top: -40px;
    display: none;
    left: 50%;
    z-index: 3;
}

.slider-tooltip-text{
    line-height: 30px;
    font-weight:bold;
    padding-left:10px;
    padding-right: 10px;
    position:relative;
    left: -50%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.slider-background{
    position:absolute;
    top: 0px;
    height: 14px;
    background: #ddd;
    z-index: 0;
    width: 100%;
    border-radius: 14px;
}

.slider-buffer{
    position:absolute;
    pointer-event: none;
    top: 0px;
    height: 14px;
    background: #ccc;
    z-index: 1;
    border-radius: 14px;
}

.popup{
    position: fixed;
    top: 80px;
    left: 30px;
    max-height: calc(100% - 160px);

    width: calc(100% - 60px);
    border: 1px solid #000;
    background: #fff;
    z-index: 100;
    box-shadow: 6px 6px 7px #888888;
    overflow: auto;
}

@media only screen and (min-device-width: 768px){
    .popup{
        width: 400px;
        left: calc(50% - 200px);
    }
}

.popup-title{
    background: #3d7ed3;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    padding-left: 14px;
    color: white;
}

.popup-content{
    overflow: hidden;
    max-height: calc(100% - 40px);
    min-height: 150px;
    position:relative;
    padding: 14px;
}

.popup-button{
    height: 30px;
    margin: 5px;
    width: 100px;
    text-align: center;
    line-height: 30px;
    background: #3d7ed3;
    color: white;
}

.popup-background{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #222;
    opacity: 0.4;
    z-index: 50;
}

.popup-button.singlebutton{
    margin: 5px auto;
}

.popup-content.buttonsshown{
    max-height: calc(100% - 80px);
}

.popup-buttons{
    display: flex;
    border-top: 1px solid #ddd;
    align-items: center;
    justify-content: space-between;
}

.popup-close{
    position: absolute;
    right:15px;
    top: 9px;
    color: #fff;
    font-size: 18px;
    z-index: 2;
    cursor: pointer;
}


.progress-bar-outer{
    background: #999;
    position: relative;
    height: 30px;
    width: 100%;
}

.progress-bar-bar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #3d7ed3;
}

.progress-bar-text{
    position: absolute;
    top: 5px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    padding-right: 6px;
    padding-left: 4px;
    color: #fff;
    text-align: right;
    white-space: nowrap;
    max-width: 100%;
    font-size: 15px;
}

.status-bar{
    position:fixed;
    bottom: 0;
    left:0;
    right: 0;
    background: #fff;
    height: 26px;
    line-height: 26px;
}


@media only screen and (min-device-width: 1024px){
    .status-bar{
        width: 1024px;
        margin-left: -512px;
        left: 50%;
    }
}

.status-bar-item{
    display:inline-block;
    vertical-align: top;
    height: 26px;
    margin: 0 5px;
    color: #999;
    position:relative;
}

.status-bar-item-icon{
    position:absolute;
    left:2px;
    top: 4px;
}

.status-bar-item-icon img{
    height: 20px;
    width: 20px;
    vertical-align: top;
}

.status-bar-item-value{
    position: absolute;
    vertical-align: top;
    margin-left: 28px;
    width: calc(100% - 24px);
}

.status-bar-divider{
    height: 26px;
    width: 1px;
    background: #ddd;
    position: absolute;
    top: 0;
}

.divider-1{
    left: 34px;
}
.divider-2{
    right: 80px;
}

.memory-item{
    width: 70px;
}

.cpu-item{
    width: 70px;
}

.speed-item{
    width: 100px;
}

.stream-item{
    width: 24px;
}

.cpu-item img{
    height: 18px;
    width: 18px;
    margin: 1px;
}

.status-bar-right{
    position:absolute;
    right: 0;
    top: 0;
}

.status-bar-left{
    position:absolute;
    left: 0;
    top: 0;
}

.status-ellipse{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 2px;
    border: 1px solid #aaa;
    opacity: 0.5;
}

.status-bar-disconnected{
    text-align: right;
}

.download-started{
    width: 200px;
    height: 200px;
    position: fixed;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    opacity: 0.6;

    transition: width 0.8s, height 0.8s, left 0.8s, top 0.8s, opacity 0.8s;
}

.download-started img{
    width: 100%;
    height: 100%;
}

.ripple{
    width: 10px;
    height: 10px;

    opacity: 1;
    background: #ddd;
    position: absolute;
    border-radius: 100px;
    pointer-events: none;

    transition: width 0.8s, height 0.8s, opacity 0.8s, left 0.8s, top 0.8s;
}

.ripple-outer{
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.unfinished-line-outer{
    height: 6px;
    background: #ccc;
    width: 100%;
}

.unfinished-line{
    background: #0071bc;
    min-width: 10px;
    height: 6px;
}