.list-holder{
    background: #fff;
    padding: 10px;
    margin-top: 15px;
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.top-list{
    margin-top: 0;
}

@media only screen and (min-device-width: 768px){
    .list-holder{
        width: calc(50% - 8px);
    }

    .list-holder:first-child{
        margin-right: 5px;
    }

    .list-holder:last-child{
        margin-left: 5px;
    }
}

.list-item-wrapper{
    display: flex;
    overflow: auto;
}

.list-show-info{
    padding: 6px;
    height: 52px;
    margin-top: -52px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8) 30%);
    color: #eee;
    position: relative;
}

.file-show-info{
    height: 32px;
    margin-top: -32px;
}


.list-image{
    width: 80px;
    cursor: pointer;
}

.favorites .list-image{
    height: 120px;
}

.favorites .list-item{
    height: 120px;
}

.last-watched-files .list-image{
    height: 100px;
    width: 100px;
}

.last-watched-files .list-item{
    height: 100px;
    width: 100px;
}

.list-image-img{
    width: 80px;
}

.last-watched-files .list-image-img{
    margin: 10px;
}


.list-title{
    font-weight: bold;
    padding-bottom: 4px;
    color: #aaa;
    border-bottom: 1px solid #ddd;
    margin-bottom: 6px;
}

.list-item{
    position: relative;
    width: 80px;
    align-self: flex-start;
    margin-right: 5px;
}

.list-info-title{
    font-weight: bold;
    margin-top: 2px;
}

.list-info-subtitle{
    max-width: calc(100% - 12px);
    bottom: 6px;
    position:absolute;
    left: 6px;
    font-size: 12px;
}

.list-watched-at{
    margin-left: -2px;
    font-size: 12px;
    position:absolute;
    right: 2px;
    top: 2px;
    padding: 3px;
    background: rgba(255,255,255, 0.9);
    border: 1px solid #ccc;
}

.last-watched-files{
    margin-bottom: 0;
}

.last-watched-file{
    position: relative;
    width: 100px;
    margin-right: 10px;
}

.last-watched-file-title{
    font-weight: bold;
    margin-top: 4px;
}

.list-more-fade{
    width: 14px;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    position:absolute;
    right:9px;
    top:34px;
    bottom:10px;
}

.list-refreshed-icon{
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
}

.list-last-updated{
    display: inline-block;

}

.home-list-loader{
    height: 80px;
    text-align: center;
}

.home-list-loader img{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top:20px;

    width: 40px;
    height: 40px;
}

.home-list{
    background: #fff;
    padding: 8px;
    margin-top: 15px;
    position: relative;
}

.home-list:first-child{
    margin-top: 0;
}

.home-list-title{
    font-weight: bold;
    padding-bottom: 4px;
    color: #aaa;
    border-bottom: 1px solid #ddd;
    margin-bottom: 6px;
}

.home-list-items{
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.home-list-item{
    margin-top: 4px;
    padding-top: 4px;
    border-top: 1px solid #ccc;
    height: 94px;
    position:relative;
}

.home-list-empty{
    padding: 3px 2px;
    color: #888;
}

.home-list-item:first-child{
    border-top: none;
    margin-top: 0;
}

.home-list-item-content{
    position:absolute;
    left:0;
    top:4px;
    right:0;
    height: 90px;
}

.home-list-item-img{
    width: 60px;
}

.home-list-item-image{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width: 60px;
}

.home-list-item-details{
    position:absolute;
    left: 66px;
    top:0;
    right:0;
    bottom:0;
}

.home-list-item-title{
    font-weight: bold;
    font-size: 13px;
}

.home-list-item-details unfinished-line{
    position:absolute;
    bottom: 0;
    left:0;
    right:0;
}

.unfinished-list-times{
    position:absolute;
    left:0;
    right:0;
    bottom: 8px;
    height: 20px;
    font-size: 12px;
    color: #777;
}

.unfinished-list-times-position{
    left:0;
    bottom:0;
    position:absolute;
    text-align:right;
    max-width: calc(100% - 35px);
}

.unfinished-list-times-length{
    position:absolute;
    right:0;
    bottom:0;
}

.unfinished-list-ago{
    font-size: 12px;
    color: #aaa;
}

.recent-files-list .home-list-item{
    height: 64px;
}

.recent-files-list .home-list-item-content{
    height: 60px;
}

.home-list-fade{
    height: 16px;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    position:absolute;
    bottom:7px;
    left:0;
    right:0px;
}

.list-no-items{
    display: none;
}