.view-torrent{
    height: 124px;
    padding: 15px;
    background: #fff;
    position: relative;
}

.torrent-input .textbox{
    margin-top: 10px;
}

.torrent-button{
    position:absolute;
    right: 15px;
    bottom: 15px;
}

.view-settings{
    padding: 15px;
    background: #fff;
    position: relative;
}

.view-settings .row{
    margin-top: 5px;
}

.settings-value{
    text-align: right;
}

.settings-value input{
    text-align: right;
    padding-right: 10px;
}

.settings-title{
    font-weight: bold;
    padding-bottom: 4px;
    color: #aaa;
    border-bottom: 1px solid #ddd;
    margin-bottom: 6px;
    margin-left: 15px;
    margin-right: 15px;
}

.settings-save-btn{
    margin-top: 10px;
    width: 100px;
}