<div class="view-hd sub-view" >
    <view-loader promise="promise"></view-loader>

    <div class="hd-drive-select" ng-if="drives.length > 1">
        <dropdown model="current.drive" options="drives" placeholder="Drives"></dropdown>
    </div>

    <div class="hd-filter" ng-click="filterSettingsOpen = !filterSettingsOpen" ng-class="{'filter-open': filterSettingsOpen}">
        <img src="/Images/filter.svg" svg-image />
        <div class="hd-filter-settings">
            <div class="filter-title">Show</div>
            <div class="filter-row">
                <div class="filter-row-text">Videos</div>
                <div class="filter-row-toggle"><input type="checkbox" ng-model="showVideos" /></div>
            </div>
            <div class="filter-row">
                <div class="filter-row-text">Subtitles</div>
                <div class="filter-row-toggle"><input type="checkbox" ng-model="showSubtitles" /></div>
            </div>
            <div class="filter-row">
                <div class="filter-row-text">Images</div>
                <div class="filter-row-toggle"><input type="checkbox" ng-model="showImages" /></div>
            </div>
        </div>
    </div>

    <div class="hd-file-structure">
        <div class="hd-directory" ng-click="directoryUp()" ng-if="current.path != current.drive">
            <div class="hd-directory-icon">
                <img src="/Images/directory.svg" svg-image />
            </div>
            <div class="hd-directory-title">
                ..
            </div>
        </div>

        <div class="hd-directory" ng-repeat="directory in filestructure.dirs" ng-click="changeDirectory(directory)">
            <div class="hd-directory-icon">
                <img src="/Images/directory.svg" svg-image />
            </div>
            <div class="hd-directory-title truncate">
                {{directory}}
            </div>
        </div>

        <div class="hd-directory" ng-class="{'file-watched': fileHasBeenWatched(file)}" ng-repeat="file in filestructure.files | filter:startsWith | filter: filterFiles | orderBy: file" ng-click="playFile(file)" ripple>
            <div class="hd-directory-icon">
                <img ng-if="isImage(file)" src="/Images/image.svg" svg-image/>
                <img ng-if="isMovie(file)" src="/Images/stream.svg" svg-image />
                <img ng-if="isSubtitle(file)" src="/Images/subtitle.svg" svg-image />
            </div>
            <div class="hd-file-title truncate">
                {{file}}
            </div>
            <div ng-if="fileHasBeenWatched(file)" class="hd-file-watched">
                <img src="/Images/watched.svg" svg-image />
            </div>
        </div>
    </div>
</div>