@import "base.less";

.automation-view{
    margin: 10px;
}

.automation-group{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #colors[borders];
}

.automation-no-groups, .automation-no-devices{
    padding: 8px;
    text-align: center;
}

.automation-group-icon{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    padding: 10px;
}

.automation-group-name{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 120px);
    padding: 10px;
}

.automation-group-length{
    display: inline-block;
    vertical-align: top;
    width: 60px;
    padding: 10px;
    text-align: center;
}

.automation-group-controls{
    display: inline-block;
    vertical-align: top;
    width: 60px;
    font-size: 12px;
    position: relative;
    padding: 4px 10px;

    .switch{
        position: absolute;
        right: 4px;
        top: 6px;
    }
}

.automation-devices{
    margin-top: 10px;
}

.automation-header{
    background: #colors[item-background];
    border-bottom: 1px solid #colors[borders];
}

.automation-header-column{
    display:inline-block;
    font-size: 11px;
    color: #colors[text-faded];
    padding-left: 4px;
    line-height: 22px;
}

.automation-header-group-name{
    width: calc(100% - 120px);
}


.automation-header-name{
    width: calc(100% - 200px);
}

.automation-header-type{
    width: 50px;
    text-align: center;
    padding-left: 0;
}

.automation-header-action{
    width: 36px;
}

.automation-device{
    width: 100%;
    border-bottom: 1px solid #colors[borders];

    &.inaccessible {
        background: #eee;
        a {
            color: #colors[text-faded];
        }

        svg{
            fill: #colors[text-faded];
        }
    }


}

.automation-device-type{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    padding: 10px;

    svg{
        width: 30px;
        height: 30px;
    }
}

.automation-device-name{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 180px);
    padding: 10px;
    line-height: 34px;
    height: 54px;
}

.automation-device-select-type{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    padding: 10px;

    svg{
        width: 30px;
        height: 30px;
    }
}

.automation-device-select-name{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 80px);
    padding: 10px;
    line-height: 34px;
    height: 54px;
}

.automation-device-select-checkbox{
    width: 30px;
    display: inline-block;
    vertical-align: top;
    padding: 19px 0;
}

.automation-device-template{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 130px;
    height: 10px;
    padding: 10px 0;

    .switch{
        position: absolute;
        right: 4px;
        top: 14px;
    }
}

.automation-thermostat-template{
    .temp-widget-current-setpoint{
        padding: 0 15px;
    }
}

.automation-group-block{
    padding: 10px;
}

.automation-label{
    width: calc(50% - 10px);
    display: inline-block;
    vertical-align: top;
}

.automation-value{
    width: calc(50% - 10px);
    display: inline-block;
    vertical-align: top;
}

.automation-group-save{
    margin-top: 10px;
}

.automation-device-light{
    padding: 10px;
}

.automation-device-light .slider-value{
    font-size: 10px;
    color: #colors[text-faded];
}

.light-group-warmth{
    margin-top: 4px;
}

.automation-device-state{
    height: 32px;
    position: relative;

    .switch{
        position: absolute;
        right: 4px;
        top: 4px;
    }
}

.automation-group .dragger-background{
    background: linear-gradient(to right, #fdffe3, #fffa96);
    border-right: 1px solid #ccc;
}

.light-widget-content .dragger-background{
    background: linear-gradient(to right, #fdffe3, #fffa96);
    border-right: 1px solid #ccc;
}

.automation-group-save-button{
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}


.graph-navigation{
    position: relative;
    height: 50px;
}

.graph-back{

}

.graph-forward{
    position: absolute;
    right:0;
    top: 0;
}

.graph-interval{
    position: absolute;
    right: 0;
    top: 36px;
}

.moods-widget-mood-{
    border-bottom: 1px solid #colors[borders];
    padding: 6px 10px;
}

.moods-widget-wrapper{
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 10px;
}

.moods-subtitle{
    font-size: 12px;
    color: #colors[text-faded];
}

.no-moods{
    padding: 10px;
}

.moods-widget-content
{
    height: calc(100% + 10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    margin: -5px;
}

.moods-widget-mood-wrapper{
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.moods-widget-mood{
    background: linear-gradient(to right top, #colors[primary-header2], #colors[primary-header]);
    position: relative;
    margin: 5px;
    width: calc(50% - 10px);
    min-width:30px;
    text-align: center;
    box-shadow: 4px 4px #555;
    min-height: 44px;
    max-height: calc(50% - 10px);
    color: #colors[text-header];
}

.moods{
    margin: 10px;
}

.mood{
    border-bottom: 1px solid #colors[borders];
}

.add-mood-btn{
    margin-left: 10px;
}

.mood-name{
    padding: 4px 10px;
    height: 40px;
    display: inline-block;
    vertical-align:top;
    width: calc(100% - 70px);
    border-right: 1px solid #colors[borders];
}

.mood-actions{
    display: inline-block;
    width: 70px;
    font-size: 12px;
    vertical-align: top;
    padding: 4px 10px;
}

.automation-device-retry-connection{
    padding: 8px 4px;
    font-size: 12px;
    background: #fff394;
    border-bottom: 1px solid #colors[borders];

    span{
        text-decoration: underline;
    }
}

.automation-providers{
    margin-top: 10px;
}

.automation-header-provider-type{
    width: 70px;
    text-align: center;
    padding-left: 0;
}

.automation-provider-type{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    padding: 10px;
    height: 54px;

    img{
        vertical-align: middle;

        max-width: 50px;
        max-height: 50px;
    }
}

.automation-provider-name{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 170px);
    padding: 10px;
    line-height: 34px;
    height: 54px;
}

.automation-provider-resync{
    display: inline-block;
    vertical-align: top;
    width: 100px;
    padding: 10px;
    line-height: 34px;
    height: 54px;
    text-decoration: underline;
}

.height-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mood-popup-input{
    width: 100%;
    padding: 10px;
    input{
        width: 100%;
    }
}