#colors() {
  primary: #092327;
  primary-header: #0A4C4A;
  primary-text: #eee;
  primary-background: #0B5351;
  primary-images: #eee;

  secondary: #006666;
  secondary-text: #eee;
  secondary-background: #0b2f35;
  secondary-background-button: #164951;

  selection: #228899;
}


body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:relative;

    max-width: 1024px;
    background: #colors[primary];
    color: #colors[primary-text];
    font-family: 'Montserrat';
    font-size: 14px;
}

#root, .app{
    height: 100%;
    max-height: 100%;
}

.header{
    height:50px;
    background: #colors[primary-header];

    .header-back{
        width: 50px;
        height: 50px;

        svg{
            width: 30px;
            height: 30px;
            margin: 10px;
            fill: #colors[primary-images];
        }
    }
}

.view{
    height: calc(100% - 100px);
    overflow: auto;
}

.footer{
    height: 50px;
    background: #colors[primary-header];
}

.footer svg{
    fill: #colors[primary-images];
}

*{
    box-sizing:border-box;
}

a {
  color: #eee;
  text-decoration: none; /* no underline */
}

.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate2{
    display: -webkit-box;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate3{
    display: -webkit-box;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button{
    padding: 4px 14px;
    border-radius: 4px;
    display: inline-block;
}

.button.secondary{
    background: #colors[secondary-background-button];
}

.dashboard-link{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    padding: 5px;
    position: relative;
    background: #colors[primary-background];
    font-size: 16px;
}

.dashboard-link-icon{
    width: 40px;
    height: 40px;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 30px);
    fill: #eee;
}

.dashboard-link-text{
    position: absolute;
    bottom: 10px;
    width: calc(100% - 10px);
    text-align: center;
    font-weight: bold;
}

.widget{
    margin: 10px;
    width: calc(100% - 20px);
    min-height: 30px;
    background: #colors[secondary-background];
}

.widget-title{
    background: #colors[secondary];
    padding: 4px 8px;
    color: #colors[secondary-text];
}

.widget-content{
    padding:8px;
}

.popup-window{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #colors[secondary-background];
    min-width: 250px;
    min-height: 150px;
    max-width: 100%;
}

.popup-loader{
    width: 100%;
    height: 100%;
    position: relative;

    .svg-image{
        margin-left: calc(50% - 50px);
        margin-top: 25px;
        width: 100px;
        height: 100px;

        svg{
            width: 100px;
            height: 100px;
        }
    }
}

.popup-title{
    background: #colors[secondary];
    padding: 4px 8px;
    color: #colors[secondary-text];
}

.popup-content{
    padding: 10px;
    margin-bottom: 50px;
}

.popup-buttons{
    position: absolute;
    padding: 10px;
    left:0;
    bottom: 0;
    right: 0;
}

.popup-buttons .button:last-child{
    position: absolute;
    right:10px;
    top:10px;
}

.label-row{
    position: relative;
}

.label-field{
    display: inline-block;
    width: 50%;
}

.label-value{
    display: inline-block;
    width: 50%;
    text-align: right;
}

.footer-link{
    display: inline-block;
    width: calc(100% / 3);
    text-align: center;
    height: 50px;

    .svg-image{
        height: 50px;
    }

    &.selected{
        background: #colors[selection];
    }
}

.footer-link svg{
    width: 30px;
    height: 30px;
    margin: 10px;
}