@import "base.less";

.media-overview{
    overflow-y: auto;
    margin: 10px;

    width: calc(100% - 20px);
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.media-thumbnail {
    display: inline-block;
    width: calc(100% / 3 - 10px);
    min-height: 100px;
    position:relative;
    margin: 5px;
    vertical-align:top;
    background: #colors[secondary-background];
    font-size: 14px;
}

.radio .media-thumbnail{
    width: calc(100% / 6 - 10px);
}

@media only screen and (max-device-width: 768px){
    .media-thumbnail{
        width: calc(50% - 10px);
    }

    .radio .media-thumbnail{
        width: calc(100% / 4 - 10px);
    }
}

.media-thumbnail-img {
    height:auto;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    margin: auto;
    display:block;
}

.media-thumbnail-info{
    padding: 5px;
}

.mediaplayer-dashboard{
    margin: 10px;
}

.mediaplayer-dashboard .dashboard-link{
    display:inline-block;
    width: calc(33% - 10px);
    margin: 2.5px 5px;
}

.mediaplayer-widget{
    height: 40px;
    position: relative;
}

.mediaplayer-widget-not-playing{
    padding: 10px 0;
}

.mediaplayer-widget-controls{
    position: absolute;
    width: 100px;
    height: 40px;
    left: 0;
    top:0;
}

.mediaplayer-widget-info{
    position:absolute;
    width: calc(100% - 110px);
    right:0;
    top: 0;
}

.hd-row{
    min-height: 36px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #444;
}

.hd-row-image{
    fill: #eee;
    position: absolute;
    left: 8px;
    top: 2px;
    width: 24px;
    height: 24px;
}

.hd-row-text{
    margin-top: 6px;
    margin-left: 40px;
    line-height: 28px;
    max-width: calc(100% - 50px);
}

.show-details{
    padding: 10px;
}

.show-synopsis{
    margin: 0 10px;
}

.show-image{
    width: calc(40% - 8px);
    padding-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.show-title{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.show-details .label-row{
    font-size: 14px;
    margin-left: 40%;
}

.show-details .label-field{
    width: 40%;
}

.show-details .label-value{
    width: 60%;
}

.show-image img, .movie-image img{
    width: 100%;
}

.show-episode-selection{
    position:relative;
    margin: 10px;
    width: calc(100% - 20px);
}

.show-seasons{
    display:inline-block;
    vertical-align: top;
}

.show-season{
    padding: 4px 8px;
    border: 1px solid #colors[primary-background];
    width: 100px;
}

.show-season.selected{
    background: #colors[primary-background];
}

.show-episodes{
    vertical-align: top;
    display:inline-block;
    margin-left: -1px;
    max-width: calc(100% - 99px);
    width: calc(100% - 99px);
}

.show-episode{
    padding: 4px 18px;
    border: 1px solid #colors[primary-background];
    border-left: 8px solid #colors[primary-background];
}

.show-episode.selected .show-episode-title{
    font-weight: bold;
}

.show-episode-synopsis{
    margin-top: 5px;
}

.show-episode-play{
    margin: 5px 0;
}