@import "base.less";

.media-overview{
    overflow-y: auto;

    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.media-thumbnail {
    display: inline-block;
    width: calc(100% / 3);
    min-height: 120px;
    position:relative;
    padding: 5px;
    vertical-align:top;
}

@media only screen and (max-device-width: 768px){
    .media-thumbnail{
        width: 50%;
    }
}

.media-thumbnail-img {
    height:auto;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    margin: auto;
    display:block;
}

.media-thumbnail-info{
    padding: 5px;
}


.mediaplayer-dashboard .dashboard-link{
    display:inline-block;
    width: calc(33% - 10px);
    margin: 5px;
}

.show-image img{
    width: 100%;
}

.mediaplayer-widget{
    height: 40px;
    position: relative;
}

.mediaplayer-widget-not-playing{
    padding: 10px 0;
}

.mediaplayer-widget-controls{
    position: absolute;
    width: 100px;
    height: 40px;
    left: 0;
    top:0;
}

.mediaplayer-widget-info{
    position:absolute;
    width: calc(100% - 110px);
    right:0;
    top: 0;
}

.hd-row{
    height: 36px;
    width: 100%;
    position: relative;
}

.hd-row-image{
    fill: #eee;
    position: absolute;
    left: 8px;
    top: 6px;
    width: 24px;
    height: 24px;
}

.hd-row-text{
    position: absolute;
    top: 6px;
    left: 40px;
    line-height: 28px;
}