body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:relative;

    max-width: 1024px;
    background: #b6eddc;
}

#root, .app{
    height: 100%;
    max-height: 100%;
}

.header{
    height:50px;
}

.view-wrapper{
    height: calc(100% - 50px);
}

.view{
    height: calc(100% - 50px);
    overflow: auto;
}

.footer{
    height: 50px;
}

*{
    box-sizing:border-box;
}

a {
  color: #222;
  text-decoration: none; /* no underline */
}