<div class="options-menu">
    <div class="options-menu-item" ng-click="navigate('settings')" ng-class="{current: currentState == 'settings'}">
        <div class="options-menu-item-title">Settings</div>
        <div class="options-menu-item-icon"><img src="/Images/settings.svg" svg-image /></div>
    </div>

    <div class="options-menu-item" ng-click="navigate('statistics')" ng-class="{current: currentState == 'statistics'}">
        <div class="options-menu-item-title">Statistics</div>
        <div class="options-menu-item-icon"><img src="/Images/statistics.svg" svg-image/></div>
    </div>
    <div class="options-menu-item" ng-click="log()">
        <div class="options-menu-item-title">Log</div>
        <div class="options-menu-item-icon"><img src="/Images/log.svg" svg-image /></div>
    </div>
</div>