<div class="options-menu">
    <div class="options-menu-item" ng-click="navigate('settings')" ng-class="{current: currentState == 'settings'}">
        <div class="options-menu-item-title">Settings</div>
        <div class="options-menu-item-icon"><img src="/Images/settings.png" /></div>
    </div>

    <div class="options-menu-item" ng-click="navigate('debug')" ng-class="{current: currentState == 'debug'}">
        <div class="options-menu-item-title">Info</div>
        <div class="options-menu-item-icon"><img src="/Images/info.png" /></div>
    </div>
    <div class="options-menu-item" ng-click="restart()">
        <div class="options-menu-item-title">Restart</div>
        <div class="options-menu-item-icon"><img src="/Images/restart.png" /></div>
    </div>
    <div class="options-menu-item" ng-click="shutdown()">
        <div class="options-menu-item-title">Shutdown</div>
        <div class="options-menu-item-icon"><img src="/Images/shutdown.png" /></div>
    </div>
</div>